.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 74px 0 0;
}

.profile__title {
  margin: 0 0 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 410px;
}
.profile__label {
  padding: 0 0 16px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.31px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid#E8E8E8;
}

.profile__label:last-of-type {
  padding: 17px 0 0;
  border-bottom: none;
}

.profile__input {
  border: none;
  text-align: right;
  outline: none;
}

.profile__input:focus {
  background-color: rgba(43, 224, 128, 0.4);
}

.profile__submit-area {
  box-sizing: border-box;
  padding: 220px 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.profile__button-edit {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  transition: opacity 0.3s linear 0.2s;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.8;
}

.profile__button-exit {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 13px;
  line-height: 15.73px;
  transition: opacity 0.3s linear 0.2s;
  color: #ee3465;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.profile__button-exit:hover {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .profile {
    padding-top: 234px;
    
  }
  .profile__title {
    margin-bottom: 96px;
  }
  .profile__submit-area {
    box-sizing: border-box;
    padding-top: 210px;
  }
}

@media (max-width: 450px) {
  .profile {
    padding-top: 68px;
    /* padding-bottom: 40px; */
    padding-left: 30px;
    padding-right: 30px;
  }
  .profile__title {
    margin-bottom: 80px;
  }
  .profile__submit-area {
    padding-top: 379px;
  }
  .profile__button-edit {
    font-size: 12px;
    line-height: 14.52px;
  }
  .profile__button-exit {
    font-size: 12px;
    line-height: 14.52px;
  }
}
