.form {
  box-sizing: border-box;
  margin: auto;
  padding: 70px 0 0;
  display: flex;
  flex-direction: column;
  max-width: 396px;
  /* width: 100%; */
}


.form__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}

.form__container {
  /* margin-bottom: 71px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 380px;

}

.form__label {
  width: 100%;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  position: relative;
}

.form__input {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 20px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  outline-style: none;
}

.form__error {
  display: block;
  height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: #ee3465;
  position: absolute;
  top: 77px;
  left: 0;
}

.form__button {
  margin-top: auto;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: #ff6838;
  padding-top: 13px;
  padding-bottom: 15px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  transition: opacity 0.3s linear 0.2s;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.8;
}

.form__choose-area {
  margin: 0 auto;
  padding-top: 16px;
  display: flex;
  gap: 6px;
}

.form__text {
  margin: 0;
  padding: 0;
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.form__link {
  align-self: center;
  text-decoration: none;
  color: #ff6838;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  transition: opacity 0.3s linear 0.2s;
}

.form__link:hover {
  opacity: 0.7;
}

@media (max-width: 900px) {
  .form {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media (max-width: 450px) {
  .form {
    align-items: center;
    padding-top: 56px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .form__title {
    margin-top: 50px;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
  }
  .form__input {
    margin-top: 25px;
  }
  
}
