.portfolio__title {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__content {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio__site-link {
  display: flex;
  height: 50px;
  padding: 0 0 19px;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.2px;
  transition: opacity 0.3s linear 0.2s;
}

.portfolio__site-link:hover {
  opacity: 0.7;
}

.portfolio__site-link:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__site-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
}

.portfolio__arrow-link {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -1.2px;
  text-decoration-line: none;
  color: #000000;
  transition: opacity 0.3s linear 0.2s;
}

.portfolio__arrow-link:hover {
  opacity: 0.7;
}

@media (max-width: 900px) {
  .portfolio__site-link {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.12px;
  }
}

@media (max-width: 530px) {
  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
  }
  .portfolio__site-link {
    height: 28px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
  /* .portfolio__site-name {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  } */
  /* .portfolio__arrow-link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  } */
}
