.show-more {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px 70px 80px;
  display: flex;
  justify-content: center;
}

.show-more__button {
  background-color: #f9f9f9;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  padding: 11px 0 9px;
  transition: opacity 0.3s linear 0.2s;
  cursor: pointer;
}

.show-more__button:hover {
  opacity: 0.8;
}

@media (max-width: 1050px) {
  .show-more {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 450px) {
  .show-more {
    padding-right: 10px;
    padding-left: 10px;
  }
}