.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
  width: 100%;
  justify-content: center;
}

.navigation__list_white {
  color: #ffffff;
}

.navigation__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  transition: opacity 0.3s linear 0.2s;
  color: inherit;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__profile-link {
  justify-self: end;
}

.navigation__button {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: opacity 0.3s linear 0.2s;
}

.navigation__button:hover {
  opacity: 0.8;
}

.navigation__auth-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
  gap: 30px;
}

.navigation__signup-button {
  padding: 0;
  height: 32px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  transition: opacity 0.3s linear 0.2s;
}

.navigation__signup-button:hover {
  opacity: 0.7;
}

.navigation__signin-button {
  width: 76px;
  height: 32px;
  border: none;
  border-radius: 3px;
  background-color: #2be080;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  transition: opacity 0.3s linear 0.2s;
}

.navigation__signin-button:hover {
  opacity: 0.8;
}

.navigation__burger-menu-button {
  display: none;
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  transition: opacity 0.3s linear 0.2s;
  cursor: pointer;
}

.navigation__burger-menu-button:hover {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .navigation__list {
    display: none;
  }

  .navigation__button {
    display: none;
  }

  .navigation__burger-menu-button {
    display: flex;
  }
}

@media (max-width: 450px) {
  .navigation__auth-list {
    gap: 14px;
  }
  .navigation__signup-button {
    font-size: 10px;
    height: 26px;
  }
  .navigation__signin-button {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
}
