.header {
  box-sizing: border-box;
  max-width: 1280px;
  display: flex;
  align-items: center;
  padding: 18px 70px;
  background-color: #465dff;
  gap: 62px;
}

.header__logo-img {
  display: block;
  transition: opacity 0.3s linear 0.2s;
}

.header__logo-img:hover {
  opacity: 0.7;
}

.header_white {
  background-color: #ffffff;
}
