.header {
  max-width: 1280px;
  display: flex;
  align-items: center;
  padding: 18px 70px;
  background-color: #465dff;
  gap: 62px;
}

.header__logo-img {
  display: block;
}

.header_white {
  background-color: #ffffff;
}
