.filter-checkbox {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 42px 0 70px;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  gap: 12px;
}

.filter-checkbox__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;

  transition: opacity 0.3s linear 0.2s;
}

.filter-checkbox__switch:hover {
  opacity: 0.8;
}

.filter-checkbox__invisible {
  position: absolute;
  width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
  height: 1px;
  overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. Мы его ещё изучим, оно скрывает элементы, выходящие за границы родителя */
  clip-path: inset(0 0 0 0);
  opacity: 0;
}

.filter-checkbox__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  border-radius: 20px;
  transition: 0.3s;
}

.filter-checkbox__slider::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  left: 2px;
  bottom: 2px;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.3s;
}

.filter-checkbox__invisible:checked + .filter-checkbox__slider {
  background-color: #2be080;
}

.filter-checkbox__invisible:checked + .filter-checkbox__slider::before {
  transform: translateX(16px);
}

.filter-checkbox__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 1050px) {
  .filter-checkbox {
    padding-top: 43px;
    padding-bottom: 50px;
  }
}
@media (max-width: 450px) {
  .filter-checkbox__description {
    font-size: 11px;
  }
  .filter-checkbox {
    padding-bottom: 48px;
  }
}
