.burger-menu__popup {
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* visibility: hidden; */
  /* opacity: 0; */
  transition: 1s;
  transition-delay: 0.2s;
  display: flex;
  z-index: 1;
}

.burger-menu__popup-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 159px 0 90px;
  height: 100vh;
  max-width: 520px;
  width: 100%;
  background: #ffffff;
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px; */

  color: #000000;
}

.burger-menu__popup-close-icon {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  background-image: url(../../images/popup-close-icon.svg);
  background-color: transparent;
  border: none;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.3s linear 0.2s;
}

.burger-menu__popup-close-icon:hover {
  opacity: 0.8;
}

.burger-menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 28px;
  height: 100%;
  align-items: center;
}

.burger-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  text-decoration: none;
  transition: opacity 0.3s linear 0.2s;
  color: inherit;
}

.burger-menu__link:hover {
  opacity: 0.7;
}

.burger-menu__link_active {
  padding-bottom: 4px;
  border-bottom: 2px solid;
}

.burger-menu__button {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: opacity 0.3s linear 0.2s;
}

.burger-menu__button:hover {
  opacity: 0.8;
}

@media (max-width: 450px) {
  .burger-menu__popup-container {
    padding-top: 144px;
    padding-bottom: 46px;
  }
  .burger-menu__list {
    gap: 24px;
  }
  .burger-menu__link_active {
    padding-bottom: 7px;
  }
  .burger-menu__popup-close-icon {
    
    top: 14px;
    right: 14px;
    width: 32px;
    height: 32px;
  }
}
