.about-project {
  margin: 0 auto;
  padding: 110px 70px;
  display: flex;
  flex-direction: column;
}


.about-project__content {
  display: flex;
  gap: 55px;
  margin: 70px 0 110px;
}

.about-project__content-block {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-project__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -0.8px;
}

.about-project__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__timetable {
  display: grid;
  row-gap: 14px;
  grid-template-columns: 1fr 4fr;
}

.about-project__back-duration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: #2be080;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.about-project__front-duration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.about-project__back-text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

.about-project__front-text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}
