.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 70px 20px;
  background-color: #fafafa;
}

.footer__title {
  margin: 0;
  padding: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  text-align: center;
}

.footer__info-block {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
}

.footer__nav {
  margin: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

.footer__nav-link {
  text-decoration-line: none;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  transition: opacity 0.3s linear 0.2s;
}

.footer__nav-link:hover {
  opacity: 0.7;
}
