.footer {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 70px 20px;
  background-color: #fafafa;
  /* position: sticky; */
}

.footer__title {
  margin: 0;
  padding: 0 0 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  color: #a0a0a0;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  text-align: center;
}

.footer__info-block {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
}

.footer__nav {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

.footer__nav-link {
  text-decoration-line: none;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  transition: opacity 0.3s linear 0.2s;
}

.footer__nav-link:hover {
  opacity: 0.7;
}

@media (max-width: 900px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 450px) {
  .footer {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer__title {
    font-size: 12px;
    line-height: 14.52px;
    padding-bottom: 21px;
  }
  .footer__info-block {
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }
  .footer__copyright {
    font-size: 12px;
    line-height: 14.52px;
    order: 2;
  }
  .footer__nav {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .footer__nav-link {
    font-size: 12px;
    line-height: 14.52px;
  }
}
