.techs {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 100px 70px;
  background-color: #f5f5f5;
}

.techs__content {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 0;
}

.techs__content-title {
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__description {
  margin: 0;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  text-align: center;
}

.techs__tech-list {
  margin: 0;
  display: flex;
  gap: 10px;
  padding: 100px 0 0;
  list-style: none;
}

.techs__tech-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  background-color: #e8e8e8;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: -0.56px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .techs {
    padding: 90px 50px;
  }
  .techs__content {
    padding-top: 80px;
  }
  .techs__content-title {
    margin-bottom: 22px;
  }
  .techs__description {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }
  .techs__tech-list {
    padding-top: 83px;
  }
  .techs__tech-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: -0.48px;
  }
}

@media (max-width: 767px) {
  .techs__tech-list {
    display: grid;
    grid-template-columns: repeat(2, 84px);
  }
}

@media (max-width: 767px) {
  .techs {
    padding: 70px 18px;
  }
  .techs__content {
    padding-top: 60px;
  }
  .techs__content-title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36.31px;
    letter-spacing: -1.2px;
  }
  .techs__description {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
    text-align: center;
  }

  .techs__tech-list {
    /* display: grid;
    grid-template-columns: repeat(2, 84px); */
    padding-top: 50px;
  }
}
