.about-me {
  margin: 0 auto;
  padding: 110px 70px 125px;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
  padding: 66px 0 101px;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__name {
  margin: 0 0 19px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__occupation {
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.about-me__description {
  margin: 0 0 99px;
  max-width: 600px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  text-decoration-line: none;
  color: #000000;
  transition: opacity 0.3s linear 0.2s;
}

.about-me__link:hover {
  opacity: 0.4;
}
