.nav-tab {
  margin: 0 auto;
  background-color: #F5F5F5;
  ;
}

.nav-tab__list {
  margin: 0;
  padding: 24px 0;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.nav-tab__list-item {
  list-style: none;
}

.nav-tab__link {
  color: #000000;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  transition: opacity 0.3s linear 0.2s;
}

.nav-tab__link:hover {
  opacity: 0.4;
}